@model ViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    <a asp-action="Index" asp-route-ishideComplete="false" asp-route-priority=@ViewBag.Priority
    class="btn btn-outline-success">Show Complete Tasks</a>

    <a asp-action="Index" asp-route-ishideComplete="true" asp-route-priority=@ViewBag.Priority
    class="btn btn-outline-success">Hide Complete Tasks</a>
</p>
<div>
    Sort:
    <a asp-action="Index" asp-route-priority="Newest"
    asp-route-IsHideComplete=@ViewBag.IsHideComplete>Newest</a>

    <a asp-action="Index" asp-route-priority="DeadLine"
    asp-route-IsHideComplete=@ViewBag.IsHideComplete>DeadLine</a>

    <a asp-action="Index" asp-route-priority="Budget"
    asp-route-IsHideComplete=@ViewBag.IsHideComplete>Budget</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Budget
            </th>
            <th>
                StartDate
            </th>
            <th>
                DeadLine
            </th>
            <th>
                Tasks
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.projects) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <th>
                $@item.Budget
            </th>
            <th>
                @item.StartDate.ToString("dd MMMM yyyy")
            </th>
            <th>
                @item.DeadLine.ToString("dd MMMM yyyy")
            </th>
            <td>
                @foreach(var task in item.AppTasks )
                {
                  <div>
                   @task.Name  ( @task.CompletePercentage% ) - 
                  
                   @if(task.AppUser != null)
                   {
                      
                     @task.AppUser.UserName
                   }
                  </div>
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
