@model ViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Proeject List</h1>
<div>
    <a asp-action="Notification" class="btn btn-info" asp-route-nNumber=@ViewBag.NumOfNotice>@ViewBag.NumOfNotice Notification</a>
</div>
<p>
    <a asp-action="Create">Create New</a>
</p>

<p>
    <a asp-action="Index" asp-route-ishideComplete="false" asp-route-priority=@ViewBag.Priority
    class="btn btn-outline-success">Show Complete Tasks</a>

    <a asp-action="Index" asp-route-ishideComplete="true" asp-route-priority=@ViewBag.Priority
    class="btn btn-outline-success">Hide Complete Tasks</a>
</p>
<div>
    Pick List:
    <a asp-action="Index" asp-route-priority="ExceededCost"
    asp-route-IsHideComplete=@ViewBag.IsHideComplete>Eceeded Cost Project</a>
    <a asp-action="Index" asp-route-priority="Finish"
    asp-route-IsHideComplete=@ViewBag.IsHideComplete>Finished Project</a>
</div>
<div>
    Sort:
    <a asp-action="Index" asp-route-priority="Newest"
    asp-route-IsHideComplete=@ViewBag.IsHideComplete>Newest</a>

    <a asp-action="Index" asp-route-priority="DeadLine"
    asp-route-IsHideComplete=@ViewBag.IsHideComplete>DeadLine</a>

    <a asp-action="Index" asp-route-priority="Budget"
    asp-route-IsHideComplete=@ViewBag.IsHideComplete>Budget</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Budget
            </th>
            
            <th>
                Total Cost
            </th>
            <th>
                Project Members
            </th>
            <th>
                StartDate
            </th>
            <th>
                DeadLine
            </th>
            <th>
                Tasks
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.projects) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                $@item.Budget
            </td>
            <td>
                <div>
                   <a asp-action="TotalCostDetails" asp-route-id=@item.Id>$@item.TotalCost()</a> 
                
                </div>
                @if(item.TotalCost() > item.Budget)
                {
                     
                  <p class="btn btn-outline-danger" >Exceeded!</p> 
                    }
                  
                </td>
            <td>
                @foreach(var pu in item.ProejectAndUsers)
                {
                  <div >
                  @pu.AppUser.UserName       
                  </div>
                  <div style="font-size:small">(@pu.StartDate.ToString("MM/dd/yyyy")~@pu.EndDate.ToString("MM/dd/yyyy")) </div>
                 }
            </td>
            <td>
                @item.StartDate.ToString("MM/dd/yyyy")
            </td>
            <td>
                @item.DeadLine.ToString("MM/dd/yyyy")
            </td>
            <td>
                @foreach(var task in item.AppTasks )
                {
                  <div>
                   @task.Name  ( @task.CompletePercentage% ) - 
                  
                   @if(task.AppUser != null)
                   {
                      
                     @task.AppUser.UserName
                   }
                  </div>
                }
            </td>
            <td>
                <a asp-action="AssignUser" asp-route-id="@item.Id">Assign User</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
